.container
  .col-md-6.offset-md-3
    .main_form
      .main_title.col
        h2
          | Редактировать данные
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .col-md-6.offset-md-3
          .field
            = f.label :email
            br
            = f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            div
              = resource.unconfirmed_email
          .field
            = f.label :password
            - if @minimum_password_length
              em
                | (
                = @minimum_password_length
                |  символов минимум)
            br
            = f.password_field :password, autocomplete: "off", class:"form-control"
          .field
            = f.label :password_confirmation
            br
            = f.password_field :password_confirmation, autocomplete: "off", class:"form-control"
          .field
            = f.label :current_password
            br
            = f.password_field :current_password, autocomplete: "off", class:"form-control"
          .field
            = link_to 'Настроить подписку', new_subscription_path, method:"get", class:"col-12 btn btn-info", style: "color:white"
          .actions
            = f.submit "Сохранить", class: 'btn btn-danger col'
      .link_sign_in.links
        = link_to "Назад", news_index_path
    div
