.container
  .col-md-6.offset-md-3
    .main_form
      .main_title.col
        h2
          | Регистрация
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .col-md-6.offset-md-3
          .field
            = f.label :email
            br
            = f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"
          .field
            = f.label :password
            - if @minimum_password_length
              em
                | (
                = @minimum_password_length
                |  символов минимум)
            br
            = f.password_field :password, autocomplete: "off", class:"form-control"
          .field
            = f.label :password_confirmation
            br
            = f.password_field :password_confirmation, autocomplete: "off", class:"form-control"
            |  </div 
            br
            .actions
              = f.submit "Зарегистрироваться", class: 'btn btn-danger col'
          .actions.link_sign_in.links
            = link_to "Войти", new_session_path(resource_name), :method => "get"
