= form_with(model: [ :admin, news ], local: true) do |form|
  = render 'errors/error', object: news
  .field
    = form.label :category
    = form.select :category_id, {}, {}, { :class => 'custom-select' } do
      - Category.all.each do |c|
        = content_tag(:option, c.title, value: c.id)
  .field
    = form.label :title
    = form.text_field :title, class: "form-control"
  .field
    = form.label :text
    = form.text_area :text, class:"form-control", rows:"6"
  .actions
    = form.submit class: "btn btn-success"
