.instr_panel
  .list-group
    - if Category.all.present?
      = link_to 'Добавить новость', new_admin_news_path, class: "list-group-item list-group-item-dark"
    = link_to 'Добавить категорию', new_admin_category_path, class: "list-group-item list-group-item-dark"
    = link_to 'Список пользователей', admin_dashboard_path, class: "list-group-item list-group-item-dark"
    = link_to 'Список новостей', admin_news_list_path, class: "list-group-item list-group-item-dark"
    = link_to 'Список категорий', admin_categories_path, class: "list-group-item list-group-item-dark"
