table.table.table-sm
  thead.thead-light
    tr
      th[scope="col"]
        | Email
      th[scope="col"]
        | Подписка
      th[scope="col"]
        | Действия
  tbody
    - User.all.each do |user|
      tr
        th[width="60%"]
          = user.email
        td
          = t(user.subscription)
        td.links
          = link_to "Удалить аккаунт", user_registration_path(user), method: :delete, data: { confirm: 'Вы уверены' }