= render 'news/nav_bar'
= render 'instumental_panel'
.container
  .active_window
    table.table.table-sm
      caption
        = button_to 'Добавить новость', new_admin_news_path, method:"get", class:"btn btn-success"
      thead.thead-light
        tr
          th[colspan="4" scope="col" style="text-align:center"]
            | Новости
      - @news.each do |n|
        tbody
          tr
            th[width="80%"]
              = n.title
            td.links
              = link_to 'Показать', admin_news_path(n)
            td.links
              = link_to 'Редактировать', edit_admin_news_path(n)
            td.links
              = link_to 'Удалить', admin_news_path(n), method: :delete, data: { confirm: 'Are you sure?' }
