h2
  | Forgot your password?
= devise_error_messages!
.field
  = f.label :email
  br
  = f.email_field :email, autofocus: true, autocomplete: "email"
.actions
  = f.submit "Send me reset password instructions"
= render "devise/shared/links"
