.container
  nav.navbar.fixed-top.navbar-dark.main_nav
    .nav_left
      a
        = link_to main_title, root_path, class:"navbar-brand"
    - if user_signed_in?
      .nav_right
        - if current_user.is_admin?
          .nav_admin_panel
            a
              = link_to 'Панель администратора', admin_dashboard_path, class:"navbar-brand"
        .nav_set_profile
          a
            = link_to 'Настройть профиль', edit_user_registration_path, class:"navbar-brand"
        .nav_sign_out
          a
            = link_to 'Выйти',  destroy_user_session_path, method: "delete", class:"navbar-brand"
    - else
      .nav_right
        .nav_right.nav_login
          a
            = link_to 'Зарегистрироваться', new_user_registration_path, class:"navbar-brand"
        .nav_right.nav_sign_in
          a
            = link_to 'Войти', new_user_session_path, class:"navbar-brand"
