= render 'news/nav_bar'
.cat_panel
  .list-group
    = link_to "Все новости", news_index_path, class: "list-group-item list-group-item-light"
    - Category.all.each do |c|
      = link_to c.title, news_index_path({filter: {id: c.id}}), class: "list-group-item list-group-item-light"
.content.container.col-2.col-md-7
  - @news.each do |news|
    - news.text.size > 300 ? text = news.text[0,600] : text = news.text
    .news
      .news_title
        h3
          = link_to news.title, news_url(news.id)
        h3

        hr
      .news_text
        p
          = text
          = link_to " читать далее", news_url(news.id), style: "color:#cd7f32;" if news.text.size > 600
        .links
          = link_to news.category.title, news_index_path({filter: {id: news.category.id}})
