= render 'news/nav_bar'
.content.container.col-2.col-md-8
  .show_content
    .show_title
      = @news.title
      hr
    .show_text
      = @news.text
      div
        = @news.category.title
      .links
        = link_to 'Назад', root_path
