<% if object.errors.any? %> 
  <%= content_tag(:div, class: "card border-danger") do %> 
    <% concat(content_tag(:h6, class: "card-header bg-danger text-white") do %> 
      <% concat "#{pluralize(object.errors.count, t('errors', :count => object.errors.count))} Не удалось сохранить запись " %> 
    <% end) %> 
    <% concat(content_tag(:div, class: "card-body") do %> 
      <%concat(content_tag(:ul, class: 'mb-0') do %> 
        <%object.errors.full_messages.each do |msg| %> 
          <%concat content_tag(:li, msg) %> 
        <% end %> 
      <% end) %> 
    <% end) %> 
  <% end %> 
<% end %>