.container
  .col-md-6.offset-md-3
    .main_form
      .main_title
        h2
          | Подписка
      = form_for @subscription do |f|
        .notice
          = flash[:notice] if URI(request.referer).path == '/subscriptions/new'
        .field.col
          = f.label 'Как часто вы хотите получать рассылку?'
          = fields_for current_user do |form|
            = form.select(:subscription, {}, {}, { :class => 'col-6 col-form-label custom-select' }) do
              - options_for_select([['Без подписки', 'not'], ['Каждый день', 'every_day'],['Каждую неделю','every_week']], selected: current_user.subscription || nil) do |c|
                = content_tag(:option, c.first, value: c.last)
        .enter_category.col
          h6
            | По умолчанию Вы подписываетесь на все категории. Укажите категории, которые Вам наиболее интересны.
        .checkboxes
          = check_box_tag "check all"
          = label_tag 'check all', 'Выделить все'
          - categories_list.each do |c|
            .custom-checkbox
              label.form-check-label
                = check_box_tag 'category_ids[]', c.id, current_user.category_ids.include?(c.id), id: "category_ids_#{c.id}"
                = label_tag "category_ids_#{c.id}", c.title
        .col-md-6.offset-md-3
          .actions
            = f.submit 'Сохранить', class: 'btn btn-danger col'
          .cat_form_link.links
            = link_to 'Назад', edit_user_registration_path
          br
