.container
  .col-md-6.offset-md-3
    .main_form
      .main_title
        h2
          | Войти
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .col-md-6.offset-md-3
          .field
            = f.label :email
            br
            = f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"
          .field
            = f.label :password
            br
            = f.password_field :password, autocomplete: "off", class:"form-control"
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me, class:"custom"
              = f.label :remember_me, class: 'title_remember_me'
          .actions
            = f.submit "Войти", class: 'btn btn-danger col'
      .link_sign_in.links
        = render "devise/shared/links"
