= form_with(model: [ :admin, category ], local: true) do |form|
  = render 'errors/error', object: category
  .field
    = form.label :title
    = form.text_field :title, class: "form-control"
    br
  .actions
    = form.submit class: "btn btn-success"
