= render 'news/nav_bar'
= render 'admin/dashboard/instumental_panel'
.container
  .active_window
    table.table.table-sm
      caption
        = button_to 'Добавить категорию', new_admin_category_path, method:"get", class:"btn btn-success"
      thead.thead-light
        tr
          th[colspan="3" scope="col" style="text-align:center"]
            | Категории
      - @categories.each do |category|
        tbody
          tr
            th[width="80%"]
              = category.title
            td.links
              = link_to 'Редактировать', edit_admin_category_path(category)
            td.links
              = link_to 'Удалить', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }
