//стили для форм создания и редактирования пользователя
.main_form {
    text-align: left;
    background: #ffebe6;
    margin: 90px 0px 100px 0px;
    border-radius: 45px;
    box-shadow: 0px 0px 110px 0px rgba(50, 50, 50, 0.27);
}

.main_title {
    padding-top:10px;
    text-align: center;  
}

.bottom_link {
    padding-bottom:10px;
}

.link_sign_in{
    padding-bottom: 5px;
    text-align:center;
}

// шапка сайта
.nav_left, .nav_right {

    color: #cd7f32;
    font-style: italic;
    font-family: 'Serif';
    a{
        color:#cd7f32;
    } 
    a:visited {
        color: #cd7f32;
    }
    a:active {
        color: black;
    } 
    a:hover {
        color: #cd7f32;
        text-decoration: none;
        background-color: black;
    }
}

.nav_sign_out, .nav_set_profile, .nav_sign_in, .nav_login, .nav_admin_panel {
    display: inline-block;
}

.navbar {
    background-color: black;
}


//контент
.content {
    margin-top:70px;
    padding-top: 20px;
}

.news {
    border: 1px solid rgb(219, 216, 216);
    box-shadow: 0px 0px 60px 0px rgba(206, 190, 190, 0.27);
    margin-top: 5px;
    border-radius: 4px;
    background-color: #fdfdfe;
}   

.news_title {
    padding: 15px 5px 0px 15px;
    a{
        color: black;
    }
    a:visited {
        color: black;
    }
    a:active {
        color: black;
    } 
    a:hover {
        color: #cd7f32;
        text-decoration: none;
        background-color: white;
    }
}

.news_text {
    padding: 0px 10px 5px 25px;
    .links{
        text-align: right;
    }
}
.cat_name {
    font-size: 14px;  
    text-align: left;
    float:left;
}

.links {  
    font-size: 14px;  
    
    padding-right: 15px;
    a{
        color:cornflowerblue;
    } 
    a:visited {
        color: cornflowerblue;
    }
    a:active {
        color: black;
    } 
    a:hover {
        color: red;
        text-decoration: none;
        background-color: white;
    }
}

.link_back {
    text-align: left;
}

//Показать отдельное событие
.show_content {
    background-color: #ffebe6;
    margin-top: -35px;
    padding: 25px 10px 10px 10px;
    .links{
        text-align: right;
    } 
}
.show_title {
    padding-left: 15px;
    font-size: 30px;
    font-weight: bold;
}

.show_text {
    font-size: 20px;
    padding-left: 25px;
    .links {
        font-size: 16px;
        A:hover {
            color: red;
            text-decoration: none;
            background-color: #ffebe6;
        }
    }
}

//дайджест
.one_news {
    color:red;
}


//форма редактирования новостей
.news_form {
    margin: 0px 250px 30px 250px;
    padding-top: 100px; 
}

.title_field {
    margin-top:15px;
    width: 300px;
    border-radius: 1px;
}

.textarea {
    width: 600px;
    height: 300px;
    border-radius: 1px;
}


//панель администратора
.instr_panel {
    margin-top: 100px; 
    width: 20%;
    display: inline-block;
    float:left;
}

.active_window {
    display: inline-block;
    margin: 100px 0 0 50px;
    width: 70%; 
}


//панель категорий
.cat_panel {
    margin-top: 25px;
    width: 20%;
    float:left;
    position:fixed;
}


//форма редактирования категорий
.cat_form {
    margin:0px 300px 100px 300px;
    padding-top: 100px;
    text-align:center;
}
.cat_form_link{
    margin-left:15px;
}


//форма подписки
.new_subscription {
    text-align: center;
}


//страница отображения категорий
td .links{
    font-size:10px;
}


.checkboxes{
    text-align:left;
    margin-left:145px;
}
//notice
.notice{
    color:red;
    background-color: white;
}