.digest[align="center"]
  .dig_title
    h1[style="color:#cd7f32"]
      | Газета, которую мы заслужили
  .dig_text
    h2
      = @p
  = @news.find_each do |news|
    - news.text.size > 250 ? text = news.text[0,250] : text = news.text
    .one_news
      .news_content[style="width: 600px; align:center"]
        p[style="text-align:left"]
          b
            i
              = news.title
              | . 
          = text
          = link_to "читать далее", news_url(news.id), style: "color:#cd7f32" if news.text.size > 250
  .unsubscribe[style="margin-top:150px"]
    |  Для того, чтобы отписаться от рассылки, перейдите по этой 
    = link_to "ссылке", mails_unsubscription_url(unsubscription_token: @user.unsubscription_token)
